{% extends "comon/base.html" %}
{% load static %}

{% block body %}

<br><br><br>


<section class="section ">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="heading text-center">
					<h2>We help entreprenuers <br>starts up and turn <span class="text-color">their ideas into</span> produtcs</h2>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="counter-item counter--style text-center mb-5 mb-lg-0">
							<i class="ti-thumb-up"></i>
							<h2 class="mb-0 mt-3"><span class="counter-stat font-weight-bold">1730</span> +</h2>
							<p>Project Done</p>
						</div>	
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="counter-item counter--style text-center mb-5 mb-lg-0">
							<i class="ti-face-smile"></i>
							<h2 class="mb-0 mt-3"><span class="counter-stat font-weight-bold">125 </span>M </h2>
							<p>User Worldwide</p>
						</div>	
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="counter-item counter--style text-center">
							<i class="ti-cup"></i>
							<h2 class="mb-0 mt-3"><span class="counter-stat font-weight-bold">14</span></h2>
							<p>Award Winner </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="video-block section bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="heading feature-list">
          <h2 class="mb-4">Growing Software Company Since 2008</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint earum, eos esse non error facilis ad,
            maiores eum quae vero libero voluptas! Reprehenderit sunt similique, quae quidem voluptatem odit natus.</p>

          <ul class="list-unstyled mt-4 mb-5">
            <li><i class="ti-check mr-3"></i>Create and manage any process for your business needs.</li>
            <li><i class="ti-check mr-3"></i>Create and manage any process for your business needs.</li>
            <li><i class="ti-check mr-3"></i>Full functionality without needed to install software.</li>
          </ul>

          <a href="/service" class="btn btn-main">All Services<i class="fa fa-angle-right ml-2"></i></a>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="video-img">
          <img src="{% static 'images/about/img-34.png' %}" alt="" class="img-fluid">
          <a data-video-id="sXoKSD8QJEA" class="video-play"><i class="ti-control-play"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section team">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="heading text-center mb-50">
					<h2 class="mb-4">Our Team</h2>
					<p>Today’s users expect effortless experiences. Don’t let essential people and processes stay stuck in the past. Speed it up, skip the hassles</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="team-block mb-5 mb-lg-0">
					<img src="{% static 'images/team/team1.png' %}" alt="" class="img-fluid w-100">

					<h4 class="mt-4 mb-0">Yusuf Khan Rafsun</h4>
					<p>Programmer</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="team-block mb-5 mb-lg-0">
					<img src="{% static 'images/team/team2.png' %}" alt="" class="img-fluid w-100">

					<h4 class="mt-4 mb-0">AB Rashed </h4>
					<p>Marketer</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="team-block mb-5 mb-lg-0">
					<img src="{% static 'images/team/team3.png' %}" alt="" class="img-fluid w-100">

					<h4 class="mt-4 mb-0">Hāz Rāt Ali</h4>
					<p>Developer</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="team-block">
					<img src="{% static 'images/team/team4.png' %}" alt="" class="img-fluid w-100">

					<h4 class="mt-4 mb-0">Sahed Hossen Safi</h4>
					<p>Designer</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section awards bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="why-content">
          <h2 class="mb-4">Honors and awards</h2>
          <p class="mb-5">Dicta cupiditate, incidunt quia obcaecati itaque cumque, nostrum ipsum est voluptatibus, porro
            provident a quam quibusdam. Ducimus possimus, nesciunt minima magni aspernatur.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="award-img-block mb-4 mb-lg-0">
          <div class="award-img">
            <img src="{% static 'images/about/01.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="award-img-block mb-4 mb-lg-0">
          <div class="award-img">
            <img src="{% static 'images/about/02.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="award-img-block mb-4 mb-lg-0">
          <div class="award-img">
            <img src="{% static 'images/about/03.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="award-img-block mb-4 mb-lg-0">
          <div class="award-img">
            <img src="{% static 'images/about/04.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="award-img-block mb-4 mb-lg-0">
          <div class="award-img">
            <img src="{% static 'images/about/05.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="award-img-block">
          <div class="award-img">
            <img src="{% static 'images/about/06.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section  testimonial-->
<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="heading">
					<h2 class="mb-4">What they say about us</h2>
					<p>They are truely amazing in the industry ,molestiae expedita aspernatur officia, similique minima laudantium. Corrupti ipsa perspiciatis commodi nesciunt rerum mollitia enim voluptate!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 testimonial-wrap">
				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="{% static '/images/team/testimonial1.png' %}" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>Joe Biden </h6>
							<span>46th U.S. President</span>
						</div>
					</div>
				</div>

				<div class="testimonial-block">
					<p>
						Wow this service is too good and fast Delivary.His coding style is very nice and clear.I recommend him.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="{% static '/images/team/testimonial2.png' %}" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>Donald Trump</h6>
							<span>45th U.S. President</span>
						</div>
					</div>
				</div>

				<div class="testimonial-block">
					<p>
						If you need to develop or design a PHP website THIS IS YOUR GUY! Does AMAZING work. Went above and beyond, listened to feedback and instruction extremely well. I was worried this was going to be a difficult project to pull off but this seller...
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="{% static '/images/team/testimonial3.png' %}" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>Vladimir Putin </h6>
							<span>President of Russia </span>
						</div>
					</div>
				</div>

				<div class="testimonial-block">
					<p>
						This seller is VERY responsive and works very hard to deliver whatever you need. He is attentive to detail and allows you to make necessary changes. When there happen to be bugs, he is prompt in fixing them. 
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="{% static '/images/team/testimonial4.png' %}" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>hu Jintao</h6>
							<span>the People's Republic of China</span>
						</div>
					</div>
				</div>

				<div class="testimonial-block">
					<p>
						This seller is VERY responsive and works very hard to deliver whatever you need. He is attentive to detail and allows you to make necessary changes. When there happen to be bugs, he is prompt in fixing them. 
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="{% static '/images/team/testimonial5.png' %}" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>Rishi Sunak</h6>
							<span>Prime Minister of the United Kingdom</span>
						</div>
					</div>
				</div>

				<div class="testimonial-block">
					<p>
						I gave this seller a very unique project with many specific and odd requirements. I was nervous with a project of this complexity. He didn't question them whatsoever and was great and communicative throughout the whole process.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="{% static '/images/team/testimonial6.png' %}" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>Barack Obama</h6>
							<span>44th U.S. President</span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

{% endblock %}