{% extends "comon/base.html" %}
{% load static %}

{% block body %}


<!-- Slider Start -->
<section class="bannerweb d-flex align-items-center">
	<div class="banner-img-part"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-12 col-xl-8">
				<div class="block">
					<span class="text-uppercase text-sm letter-spacing ">Create Your Unique Software</span>
					<h1 class="mb-3 mt-3">Website Design &<br> Developer</h1>
					<p class="mb-5 w-75 ">Hello World, We Are CSE Student Team In <b> SSR Institute of Technology </b>. We have a Experience Team for WebDevelopment, Software Development, and Bug Fixing .Hope you will like our service and Enjoy. </p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section Group -->
<div class="container">
    <div class="card-deck mb-3">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">Ecommerce Website</h4>
            <p class="card-text">An ecommerce website allows businesses to sell products or services online, providing a convenient shopping experience for customers and potentially increasing sales and reach beyond traditional brick-and-mortar stores.</p>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">Business Website</h4>
            <p class="card-text">A business website serves as an online representation of a company, providing information about its products or services, brand, and values, and enabling communication with customers and potential clients.</p>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">Media Website</h4>
            <p class="card-text">A media website delivers news, entertainment, and information to audiences, covering a range of topics from current events and politics to lifestyle and culture, and offering a platform for advertising and sponsor.</p>
        </div>
        </div>
    </div>
    <div class="card-deck  mb-3">
        <div class="card mb-1">
        <div class="card-body">
            <h4 class="card-title text-center">Learning Website</h4>
            <p class="card-text">A learning website offers a flexible and accessible way for individuals to gain new knowledge and skills at their own pace and convenience, potentially leading to career advancement and personal growth.</p>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">Portfolio Website</h4>
            <p class="card-text">A portfolio website showcases an individual's or company's work and accomplishments, highlighting their skills, experience, and unique selling points, and potentially attracting new clients or job opportunities.</p>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">Job Bank Website</h4>
            <p class="card-text">A job bank website serves as a platform connecting job seekers with potential employers, providing listings of available job openings and enabling applicants to apply and showcase their qualifications and experience.</p>
        </div>
        </div>
    </div>
</div>

<!------------------------- Pricing Section ------------------------------>
<section class="section pricing">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="heading text-center mb-50">
					<h2 class="">Our pricing</h2>
					<p class="">Labore tempore ratione magnam iste sint dicta dolor doloremque similique tempora optio, expedita veritatis enim nam itaque illum excepturi id dolores, officia?</p>
				</div>
			</div>	
		</div>

		<div class="row">
			<div class="col-lg-4">
				<div class="pricing-block card text-center">
					<div class="price-header">
						<span class="text-uppercase letter-spacing h5">Silver</span>
						<h2>৳ 2500</h2>
					</div>

					<div class="price-body">
						<ul class="list-unstyled mb-0">
							<li>3 Page Tamplate Design </li>
							<li>Responsive design</li>
							<li>Basic functionality</li>
							<li>Low Price</li>
							<li>With Source Code</li>
							<li>24 Hours Support</li>
						</ul>
					</div>

					<div class="price-footer">
						<a href="#pricebtn" class="btn btn-main">Choose plan</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="pricing-block card text-center featured">
					<div class="price-header">
						<span class="text-uppercase letter-spacing h5">Gold</span>
						<h2>$ 4000</h2>
					</div>

					<div class="price-body">
						<ul class="list-unstyled mb-0">
							<li>Include Silver Package</li>
							<li>Content Upload</li>
							<li>Payment Getway Setup</li>
							<li>logo Design</li>
							<li>Pro Theme & Plugin</li>
							<li>Clean Code</li>
						</ul>
					</div>

					<div class="price-footer">
						<a href="#pricebtn" class="btn btn-main">Choose plan</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="pricing-block card text-center">
					<div class="price-header">
						<span class="text-uppercase letter-spacing h5">Diamond</span>
						<h2>$ 6000</h2>
					</div>

					<div class="price-body">
						<ul class="list-unstyled mb-0">
							<li>Include Diamond Package</li>
							<li>Responsive design</li>
							<li>Basic functionality</li>
							<li>Low Price</li>
							<li>With Source Code</li>
							<li>24 Hours Support</li>
						</ul>
					</div>

					<div class="price-footer">
						<a href="#pricebtn" class="btn btn-main">Choose plan</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- How to work process -->
<section class="section case-study">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="case-study-content text-center mb-5">
					<h2 class="mb-4">How we works</h2>
					<p>There are many variations of lorem passages of Lorem Ipsum available, but the majority have suffered. All the Lorem Ipsum generators.</p>
				</div>
			</div>
		</div>



		<div class="case-timeline">
			<div class="case-timeline-divider"></div>
			<div class="case-timeline-dot"></div>
			
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="case-img ">
						<img src="{% static 'images/about/planning (9).png' %}" alt="" class="img-fluid">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="case-content">
						<h4 class="mb-3">Give Me Your Project Idea </h4>
						<p>Sharing project ideas is important because it fosters creativity, collaboration, and innovation. By exchanging ideas, we can learn from each other and develop better solutions to complex problems, leading to progress and growth in various fields.</p>
					</div>
				</div>
			</div>
		</div>


		<div class="case-timeline">
			<div class="case-timeline-divider"></div>
			<div class="case-timeline-dot"></div>
			<div class="row align-items-center">	
				<div class="col-lg-6 order-2 order-lg-1">
					<div class="case-content">
						<h4 class="mb-3">Access Dashboard ( if you have )</h4>
						<p>A website dashboard is a user interface that provides an overview of a website's performance, data, and metrics. It allows website owners and administrators to monitor key performance indicators, track progress, and make informed decisions based on data.</p>
					</div>
				</div>
				<div class="col-lg-6  order-1 order-lg-2">
					<div class="case-img">
						<img src="{% static 'images/about/webdashboard.png' %}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>

		<div class="case-timeline">
			<div class="case-timeline-divider"></div>
			<div class="case-timeline-dot"></div>

			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="case-img">
						<img src="{% static 'images/about/webcontent.png' %}" alt="" class="img-fluid">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="case-content">
						<h4 class="mb-3">Give me Content ( if you have )</h4>
						<p>Website content is important because it provides information to users, helps them understand the purpose of the website, and encourages engagement. Well-written and relevant content also improves search engine rankings and builds credibility and trust with the audience.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="case-timeline">
			<div class="case-timeline-divider"></div>
			<div class="case-timeline-dot"></div>

			<div class="row align-items-center">
					<div class="col-lg-6 order-2 order-lg-1">
					<div class="case-content">
						<h4 class="mb-3">Project Delivery Complate </h4>
						<p>Completing a project is important to achieve the desired outcome and meet the project's goals. It involves delivering the final product, evaluating its success, and documenting the process for future reference. Proper completion ensures satisfaction for all stakeholders involved.</p>
					</div>
				</div>

				<div class="col-lg-6  order-1 order-lg-2">
					<div class="case-img">
						<img src="{% static 'images/about/projectdone.png' %}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



{% include 'comon/form.html' %}


{% endblock %}